@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <form method="post">
        <div><input type="number" name="num1" /></div>
        <div><input type="number" name="num2" /></div>
        <div> <input type="submit" /></div>
    </form>
